# HYPERPARAMETER TUNING

In [5]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import

In [6]:
df3 = pd.read_csv('apple_stock_prices.csv')
df3.head(10)

         Date   Open   High    Low  Close     Volume  Name
0  2006-01-03  10.34  10.68  10.32  10.68  201853036  AAPL
1  2006-01-04  10.73  10.85  10.64  10.71  155225609  AAPL
2  2006-01-05  10.69  10.70  10.54  10.63  112396081  AAPL
3  2006-01-06  10.75  10.96  10.65  10.90  176139334  AAPL
4  2006-01-09  10.96  11.03  10.82  10.86  168861224  AAPL
5  2006-01-10  10.89  11.70  10.83  11.55  570088246  AAPL
6  2006-01-11  11.98  12.11  11.80  11.99  373548882  AAPL
7  2006-01-12  12.14  12.34  11.95  12.04  320201966  AAPL
8  2006-01-13  12.14  12.29  12.09  12.23  194153393  AAPL
9  2006-01-17  12.24  12.34  11.98  12.10  209215265  AAPL